{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" type="text/css" href="{% static 'IAteHomeStyles.css' %}">
<head>
    <meta charset="utf-8"/>
    <title>IAte</title>
</head>
<header>
    <h1 id="Iateh1">IAte</h1>
    <img id="logousm" src="https://upload.wikimedia.org/wikipedia/commons/2/26/Logo-usm-svg.svg" alt="Logo USM">
</header>
<body>
    <nav>
        <ul>
            <button class="buttonxd">Func 1</button>
            <button class="buttonxd">Func 2</button>
            <button class="buttonxd">Func 3</button>
        </ul>
    </nav>
</body>
</html>
{% endblock %}